@tailwind base;
@tailwind components;
@tailwind utilities;


html,body{
  height: 100%;
  width: 100%;
  /* background-color: bisque; */
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gilroy';
}

a {
  margin:30px;
  display: block;
}